@model ForgetPasswordViewModel
@{
    Layout = null;
}

<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h2>Şifre Yenileme İsteği Sayfası</h2>
    
    <form method="post">
        <label>Mail Adresinizi giriniz.</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-outline-primary">Şifre yenileme linki yolla</button>
    </form>

</div>

