@model ResetPasswordViewModel
@{
    Layout = null;
}

<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Şifre Yenileme Sayfası</h2>
    <span class="text-danger">@TempData["NotMatch"]</span>
    <form method="post">
        <label>Yeni şifrenizi giriniz.</label>
        <input type="text" class="form-control" asp-for="Password" required/>
        <br />
        <label>Yeni şifrenizi tekrar giriniz.</label>
        <input type="text" class="form-control" asp-for="ConfirmPassword" required/>
        <br />
        <button class="btn btn-outline-primary">Şifreyi güncelle</button>
    </form>

</div>