@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Tur Rotaları</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.destinationId</td>
            <td>@item.city</td>
            <td>@item.price</td>
            <td>@item.capacity</td>
            <td><a href="/Destination/DestinationDetails/@item.destinationId" class="btn btn-outline-info">Sitede Gör</a></td>
            <td><a href="/Admin/Destination/DeleteDestination/@item.destinationId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/Destination/UpdateDestination/@item.destinationId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Destination/AddDestination" class="btn btn-outline-primary">Yeni Tur Rotası Oluştur</a>