
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Booking Oteller için Şehir Id Getir</h2>
<br />

<form method="post">
    <label>Şehir Adını Giriniz</label>
    <input type="text" class="form-control" name="p" />
    <br />
    <button class="btn btn-outline-primary">Şehir Id Getir</button>
</form>
