@model GetDestinationByIdQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CQRS Rezervasyon Düzenleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="DestinationId" />
    <label>Şehir Adı</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />
    <label>Gün-Gece</label>
    <input type="text" asp-for="DayNight" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Rezervasyonu Güncelle</button>
</form>